<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book a Guide</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Montserrat+Alternates:wght@700&family=NTR&family=Poppins:wght@700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/bookGuide.css" />
</head>
<body>
    <%- include("./navbar") %>

    <div class="container1">
        <div class="banner">
            <div class="tag1">
                <h1>Book a Guide</h1>
            </div>
        </div>
    </div>
    <div class="guide-head">
        <h1>Our Guides</h1>
    </div>

    <div class="container3">
        <div class="cards-list">
            <a href="#">
                <div class="card-guide">
                    <div class="guide-img">
                        <img src="/images/g1.jpg" />
                        <h2>Sakshi Kumar</h2>
                    </div>
                    <div class="guide-content">
                        <h2>Age : 32</h2>
                        <p style="font-size: 20px;">Experience : 6 Years <br> Rating : 4.5/5 <br>
                        Price: ₹800 <br>
                        <span  class="guide-book-now">
                            <button type="button" class="guide-button">
                                Book Now
                            </button>
                        </span>
                    </p>
                    </div>
                </div>	
            </a>
            <a href="#">
                <div class="card-guide">
                    <div class="guide-img">
                        <img src="/images/g2.jpg" />
                        <h2>Satish Kumar</h2>
                    </div>
                    <div class="guide-content">
                        <h2>Age : 32</h2>
                        <p style="font-size: 20px;">Experience : 6 Years <br> Rating : 4.5/5 <br>
                        Price: ₹800 <br>
                        <span  class="guide-book-now">
                            <button type="button" class="guide-button">
                                Book Now
                            </button>
                        </span>
                    </p>
                    </div>
                </div>	
            </a>
            <a href="#">
                <div class="card-guide">
                    <div class="guide-img">
                        <img src="/images/g3.jpg" />
                        <h2>Ram Mohan</h2>
                    </div>
                    <div class="guide-content">
                        <h2>Age : 32</h2>
                        <p style="font-size: 20px;">Experience : 6 Years <br> Rating : 4.5/5 <br>
                        Price: ₹800 <br>
                        <span  class="guide-book-now">
                            <button type="button" class="guide-button">
                                Book Now
                            </button>
                        </span>
                    </p>
                    </div>
                </div>	
            </a>
            <a href="#">
                <div class="card-guide">
                    <div class="guide-img">
                        <img src="/images/g4.jpg" />
                        <h2>Akhilesh Pandey</h2>
                    </div>
                    <div class="guide-content">
                        <h2>Age : 32</h2>
                        <p style="font-size: 20px;">Experience : 6 Years <br> Rating : 4.5/5 <br>
                        Price: ₹800 <br>
                        <span  class="guide-book-now">
                            <button type="button" class="guide-button">
                                Book Now
                            </button>
                        </span>
                    </p>
                    </div>
                </div>	
            </a>
        </div>
        
    </div>
    
    <div class="images-mon">
        <img src="/images/mon1.png" alt="monuments">
    </div>
    <%- include("./footer") %>
</body>
</html>