<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat with Safar</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Montserrat+Alternates:wght@700&family=NTR&family=Poppins:wght@700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/chat.css" />
    <script src="/socket.io/socket.io.js"></script>

</head>

<body>
    <%- include("./navbar") %>

        <div class="container">
            <div class="chats">
                <%= currentUser ? currentUser.name : "SAFAR" %>
                    <ul id="messages"></ul>
                    <div id="feedback"></div>
                    <form id="form" action="">
                        <input id="input" autocomplete="off" /><button>Send</button>
                    </form>

            </div>
        </div>

        <%- include("./footer") %>

            <script>
                var socket = io();
                let username = "";
                let allData = '<%- JSON.stringify(user) %>';
                if (allData == "") {
                    username = "SAFAR";
                } else {
                    let ax = JSON.parse(allData);
                    username = ax.name;
                }
                console.log(username);
                var messages = document.getElementById('messages');
                var form = document.getElementById('form');
                var input = document.getElementById('input');
                socket.emit('welcome', username);


                form.addEventListener('submit', function (e) {
                    e.preventDefault();
                    if (input.value) {
                        appendMessage(`YOU: ${input.value}`)
                        socket.emit('send-chat-message', input.value, username);
                        input.value = '';
                    }
                });
                input.addEventListener("keypress", () => {
                    socket.emit("typing", username);
                });
                socket.on('chat message', msg => {
                    console.log(` ${msg.username}: ${msg.message}`);
                    appendMessage(` ${msg.username}: ${msg.message}`);
                    window.scrollTo(0, document.body.scrollHeight);
                });
                socket.on("typing", (name) => {
                    feedback.innerHTML = `<p><em>${name}</em> is typing...</p>`;
                    setTimeout(() => {
                        feedback.innerHTML = "";
                    }, 2000);
                });
                function appendMessage(message) {
                    var item = document.createElement('li');
                    item.textContent = message;
                    messages.appendChild(item);

                }
            </script>

</body>

</html>