<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Ticket</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Montserrat+Alternates:wght@700&family=NTR&family=Poppins:wght@700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="/css/final.css" />
    <link rel="stylesheet" href="/css/navbar.css" />


</head>

<body>
    <%- include("./navbar") %>

        <div class="container1">
            <div class="heading">
                <h1>Booking Confirmed<img src="/images/tick.png" alt="tick"></h1>
                <div class="container2">
                    <div class="cnf-status">
                        <div class="cnf-image">
                            <h3>Thank you for booking ticket from us.</h3><br>
                            <p>Red Fort <br>
                                Place: Delhi <br>
                                Date: 12/12/2021 <br>
                            </p>
                        </div>
                        <div class="qr-img">
                            <img src="/images/qr.png" alt="qr" /><br>
                            <h2>Scan this QR code to check your booking status.</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>


</body>

</html>