<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book a Guide</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Montserrat+Alternates:wght@700&family=NTR&family=Poppins:wght@700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/guide.css" />
</head>

<body>
    <%- include("./navbar") %>

        <div class="container1">
            <div class="banner">
                <div class="tag1">
                    <h1>Our Guides</h1>
                </div>
            </div>
        </div>

        <div class="container3">
            <div class="cards-list">
                <div class="card-guide">
                    <div class="guide-img">
                        <img src="/images/m1.jpg" />
                        <h1>Satish Kumar</h1>
                    </div>
                    <div class="guide-content">
                        <h3>Age : 32</h3>
                        <h3>Languages : English, Hindi, French and Spanish</h3>
                        <h3>Experience : 6 Years <br> Rating : 4.5 / 5 <br>
                            Price: ₹800 <br>
                        </h3>
                        <span class="guide-book-now">
                            <button type="button" class="guide-button">
                                Book Now
                            </button>
                        </span>
                    </div>
                </div>
                <div class="card-guide">
                    <div class="guide-img">
                        <img src="/images/m2.jpg" />
                        <h1>Rohit Verma</h1>
                    </div>
                    <div class="guide-content">
                        <h3>Age : 21</h3>
                        <h3>Languages : English and Bengali</h3>
                        <h3>Experience : 5 Years <br> Rating : 4.7 / 5 <br>
                            Price: ₹900 <br>
                        </h3>
                        <span class="guide-book-now">
                            <button type="button" class="guide-button">
                                Book Now
                            </button>
                        </span>
                    </div>
                </div>
                <div class="card-guide">
                    <div class="guide-img">
                        <img src="/images/w1.jpeg" />
                        <h1>Sita Kumari</h1>
                    </div>
                    <div class="guide-content">
                        <h3>Age : 27</h3>
                        <h3>Languages : French and Spanish</h3>
                        <h3>Experience : 2 Years <br> Rating : 3.6 / 5 <br>
                            Price: ₹500 <br>
                        </h3>
                        <span class="guide-book-now">
                            <button type="button" class="guide-button">
                                Book Now
                            </button>
                        </span>
                    </div>
                </div>
                <div class="card-guide">
                    <div class="guide-img">
                        <img src="/images/m8.jpeg" />
                        <h1>Aditya</h1>
                    </div>
                    <div class="guide-content">
                        <h3>Age : 32</h3>
                        <h3>Languages : English, Hindi, French and Spanish</h3>
                        <h3>Experience : 6 Years <br> Rating : 4.5 / 5 <br>
                            Price: ₹800 <br>
                        </h3>
                        <span class="guide-book-now">
                            <button type="button" class="guide-button">
                                Book Now
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container3">
            <div class="cards-list">
                <div class="card-guide">
                    <div class="guide-img">
                        <img src="/images/w3.jpeg" />
                        <h1>Hina Singh</h1>
                    </div>
                    <div class="guide-content">
                        <h3>Age : 32</h3>
                        <h3>Languages : English, Hindi, French and Spanish</h3>
                        <h3>Experience : 6 Years <br> Rating : 4.5 / 5 <br>
                            Price: ₹800 <br>
                        </h3>
                        <span class="guide-book-now">
                            <button type="button" class="guide-button">
                                Book Now
                            </button>
                        </span>
                    </div>
                </div>
                <div class="card-guide">
                    <div class="guide-img">
                        <img src="/images/g4.jpg" />
                        <h1>Ram Singh</h1>
                    </div>
                    <div class="guide-content">
                        <h3>Age : 32</h3>
                        <h3>Languages : English, Hindi, French and Spanish</h3>
                        <h3>Experience : 6 Years <br> Rating : 4.5 / 5 <br>
                            Price: ₹800 <br>
                        </h3>
                        <span class="guide-book-now">
                            <button type="button" class="guide-button">
                                Book Now
                            </button>
                        </span>
                    </div>
                </div>
                <div class="card-guide">
                    <div class="guide-img">
                        <img src="/images/w2.jpeg" />
                        <h1>Anupa Roy</h1>
                    </div>
                    <div class="guide-content">
                        <h3>Age : 32</h3>
                        <h3>Languages : English, Hindi, French and Spanish</h3>
                        <h3>Experience : 6 Years <br> Rating : 4.5 / 5 <br>
                            Price: ₹800 <br>
                        </h3>
                        <span class="guide-book-now">
                            <button type="button" class="guide-button">
                                Book Now
                            </button>
                        </span>
                    </div>
                </div>
                <div class="card-guide">
                    <div class="guide-img">
                        <img src="/images/m3.jpg" />
                        <h1>Hiten</h1>
                    </div>
                    <div class="guide-content">
                        <h3>Age : 32</h3>
                        <h3>Languages : English, Hindi, French and Spanish</h3>
                        <h3>Experience : 6 Years <br> Rating : 4.5 / 5 <br>
                            Price: ₹800 <br>
                        </h3>
                        <span class="guide-book-now">
                            <button type="button" class="guide-button">
                                Book Now
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="images-mon">
            <img src="/images/mon1.png" alt="monuments">
        </div>
        <%- include("./footer") %>
</body>

</html>