<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Safar</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Montserrat+Alternates:wght@700&family=NTR&family=Poppins:wght@700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/footer.css" />
</head>

<body>
    <%- include("./navbar") %>
        <div class="container1">
            <div class="contents">
                <div class="div1">
                    <div class="tag1">
                        <h1>Explore the beauty of India.</h1>
                    </div>
                    <div>
                        <button id="explore-btn">
                            <a href="#popular">Explore Now</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container3">
            <div class="about-img-1">
            </div>
            <div class="about">
                <div>
                    <h6 class="about-text">About Us</h6>
                    <h1 class="about-head">We provide you a whole new experience on the tour.</h1>
                </div>
                <p>We provide the finest limitations on our top-rated visit packages to customers who repeatedly choose
                    our feasible administrations.
                    Let us use this opportunity to remind you that we do not claim to be your visitation and travel
                    experts; rather, we want to be your travelling companions for all of time.</p>
                <a href="" class="about-button">Book Now</a>
            </div>
        </div>

        <div id="popular"></div>

        <div class="container2">
            <div class="heading">
                <h1 id="head1">Popular Monuments</h1>
            </div>
            <div class="cards">
                <div class="card">
                    <div id="card-img1"></div>
                    <div id="card-text">
                        
                    </div>
                </div>
                <div class="card">
                    <div id="card-img2"></div>
                    <div id="card-text"></div>
                </div>
                <div class="card">
                    <div id="card-img3"></div>
                    <div id="card-text"></div>
                </div>
                <div class="card">
                    <div id="card-img4"></div>
                    <div id="card-text"></div>
                </div>
            </div>
        </div>
        </div>


        <%- include("./footer") %>

</body>

</html>