<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Safar</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Montserrat+Alternates:wght@700&family=NTR&family=Poppins:wght@700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/footer.css" />

    <script src="/js/states.js"></script>
    <script src="/js/monuments.js"></script>

</head>

<body>
    <%- include("./navbar") %>
        <div class="container1">
            <div class="contents">
                <div class="div1">
                    <div class="tag1">
                        <h1>Explore the beauty of India.</h1>
                    </div>
                    <div>
                        <button id="explore-btn">
                            <a href="#popular">Explore Now</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container5">
            <div class="form">
                <form action="/monuments" method="POST">
                    <div class="select">
                        <select id="country" name="states-list">
                            <option value="" disabled selected hidden>Choose a State</option>
                        </select>
                    </div>
                    <div class="select">
                        <select id="state-code" name="cities_list">
                            <option value="" disabled selected hidden>Choose a City</option>
                        </select>
                    </div>
                    <div>
                        <button type="submit" class="button-85">Search</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="container3">
            <div class="about-img-1">
            </div>
            <div class="about">
                <div>
                    <h6 class="about-text">About Us</h6>
                    <h1 class="about-head">We provide you a whole new experience on the tour.</h1>
                </div>
                <p>We provide the finest limitations on our top-rated visit packages to customers who repeatedly choose
                    our feasible administrations.
                    Let us use this opportunity to remind you that we do not claim to be your visitation and travel
                    experts; rather, we want to be your travelling companions for all of time.</p>
                <a href="/monuments" class="about-button">Book Now</a>
            </div>
        </div>

        <div id="popular"></div>

        <div class="container2">
            <div class="heading">
                <h1 id="head1">Popular Monuments</h1>
            </div>
            <div class="cards">
                <div class="card">
                    <div id="card-img1"></div>
                    <div id="card-text">
                        <div class="text-card">
                            <div class="all-content">
                                <div class="card-text-title">
                                    Hawa Mahal
                                </div>
                                <div class="location">
                                    Jaipur
                                </div>
                                <div class="timing">
                                    Timings: 9:00 AM - 5:00 PM
                                </div>
                            </div>
                            <div class="price">
                                <span>₹130</span>
                            </div>
                        </div>
                        <div class="button-card">
                            <form class="card-button" action="/monuments" method="POST">
                                <a href="/monuments" style="color: #fff">Book Now</a>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div id="card-img2"></div>
                    <div id="card-text">
                        <div class="text-card">
                            <div class="all-content">
                                <div class="card-text-title">
                                    Qutub Minar
                                </div>
                                <div class="location">
                                    Delhi
                                </div>
                                <div class="timing">
                                    Timings: 7:00 AM - 5:00 PM
                                </div>
                            </div>
                            <div class="price">
                                ₹35
                            </div>
                        </div>
                        <div class="button-card">
                            <form class="card-button" method="POST">
                                <a href="/monuments" style="color: #fff">Book Now</a>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div id="card-img3"></div>
                    <div id="card-text">
                        <div class="text-card">
                            <div class="all-content">
                                <div class="card-text-title">
                                    Taj Mahal
                                </div>
                                <div class="location">
                                    Agra
                                </div>
                                <div class="timing">
                                    Timings: 7:00 AM - 5:00 PM
                                </div>
                            </div>
                            <div class="price">
                                ₹200
                            </div>
                        </div>
                        <div class="button-card">
                            <form class="card-button" action="/monuments" method="POST">
                                <a href="/monuments" style="color: #fff">Book Now</a>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div id="card-img4"></div>
                    <div id="card-text">
                        <div class="text-card">
                            <div class="all-content">
                                <div class="card-text-title">
                                    Red Fort
                                </div>
                                <div class="location">
                                    Delhi
                                </div>
                                <div class="timing">
                                    Timings: 9:30 AM - 4:30 PM
                                </div>
                            </div>
                            <div class="price">
                                ₹80
                            </div>
                        </div>
                        <div class="button-card">
                            <form class="card-button" action="/monuments" method="POST">
                                <a href="/monuments" style="color: #fff">Book Now</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>


        <%- include("./footer") %>

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script>
                (function () {
                    let user_country_code = "";
                    let country_list = states;
                    let option = '';
                    option += '<option>Select a State</option>';
                    for (let country_code in country_list) {
                        let selected = (country_code == user_country_code) ? ' selected' : '';
                        option += '<option value="' + country_code + '">' + country_code + '</option>';
                    }
                    document.getElementById('country').innerHTML = option;
                    let state_code_id = document.getElementById("state-code");
                    function create_states_dropdown() {
                        let options = '';
                        let country_code = document.getElementById("country").value;
                        let statescd = country_list[country_code];
                        for (let state_new in statescd) {
                            let selected_s = '';
                            options += '<option value="' + statescd[state_new] + '">' + statescd[state_new] + '</option>';
                        }
                        state_code_id.innerHTML = options;
                    }
                    const country_select = document.getElementById("country");
                    country_select.addEventListener('change', create_states_dropdown);
                    create_states_dropdown();
                })();
            </script>

</body>

</html>