<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Montserrat+Alternates:wght@700&family=NTR&family=Poppins:wght@700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="/css/login.css" />

    <title>Login | Register</title>
</head>

<body>
    <a href="/auth/google">
        <div class="container">
            <div class="logo">
                <img src="/images/google.jpg" alt="">
            </div>
            <div class="text">Login with Google</div>
        </div>
    </a>
</body>

</html>