<nav>
    <div class="navbar">
        <div class="logo">
            <a href="/">Safar</a>
        </div>
        <ul class="list-items">
            <li><a href="/monuments">Monuments</a></li>
            <li><a href="/guides">Guides</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
        <% if(!currentUser) { %>
            <a href="/auth/login" class="button"> Login </a>
            <% } else { %>
                <img src="/images/user.png" alt="user" />
            <% } %>

    </div>
</nav>