@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");

section {
  padding: 5rem 9% 50px 9%;
}

.footer {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/images/footer.jpg) no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.4s linear;
}

.footer .box-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.footer .box-container .box h3 {
  font-size: 1.2rem;
  padding: 1rem 0;
  color: #fff;
}

.footer .box-container .box a {
  display: block;
  font-size: 1rem;
  color: #fff;
  padding: 5px 0;
}

.footer .box-container .box a i {
  padding-right: 0.5rem;
}

.footer .box-container .box a:hover {
  color: #2465ab;
  font-size: large;
  transition: 0.4s;
}

.footer .credit {
  text-align: center;
  margin-top: 2.5rem;
  padding-top: 2.5rem;
  font-size: 1.4rem;
  color: #fff;
}

.contacts {
  display: flex;
  justify-content: space-between;
  align-items: left;
  width: 30%;
}